---
layout: default
---

<div id="guide_sidebar">
    {% if page.sidebar == 'reference_api' %}
        <h3><a href="/guide">Guide</a></h3>
        <h3><a href="/guide/reference/api">API</a></h3>
        <h3>Core</h3>
        <ul>
            <li><a href="/guide/reference/api/index_.html">Index</a></li>
            <li><a href="/guide/reference/api/delete.html">Delete</a></li>
            <li><a href="/guide/reference/api/get.html">Get</a></li>
            <li><a href="/guide/reference/api/multi-get.html">Multi Get</a></li>
            <li><a href="/guide/reference/api/search">Search</a></li>
            <li><a href="/guide/reference/api/percolate.html">Percolate</a></li>
            <li><a href="/guide/reference/api/bulk.html">Bulk</a></li>
            <li><a href="/guide/reference/api/count.html">Count</a></li>
            <li><a href="/guide/reference/api/delete-by-query.html">Delete By Query</a></li>
            <li><a href="/guide/reference/api/more-like-this.html">More Like This</a></li>
        </ul>

        <h3>Indices</h3>
        <ul>
            <li><a href="/guide/reference/api/admin-indices-aliases.html">Aliases</a></li>
            <li><a href="/guide/reference/api/admin-indices-analyze.html">Analyze</a></li>
            <li><a href="/guide/reference/api/admin-indices-create-index.html">Create Index</a></li>
            <li><a href="/guide/reference/api/admin-indices-delete-index.html">Delete Index</a></li>
            <li><a href="/guide/reference/api/admin-indices-open-close.html">Open/Close Index</a></li>
            <li><a href="/guide/reference/api/admin-indices-get-settings.html">Get Settings</a></li>
            <li><a href="/guide/reference/api/admin-indices-get-mapping.html">Get Mapping</a></li>
            <li><a href="/guide/reference/api/admin-indices-put-mapping.html">Put Mapping</a></li>
            <li><a href="/guide/reference/api/admin-indices-delete-mapping.html">Delete Mapping</a></li>
            <li><a href="/guide/reference/api/admin-indices-refresh.html">Refresh</a></li>
            <li><a href="/guide/reference/api/admin-indices-optimize.html">Optimize</a></li>
            <li><a href="/guide/reference/api/admin-indices-flush.html">Flush</a></li>
            <li><a href="/guide/reference/api/admin-indices-gateway-snapshot.html">Snapshot</a></li>
            <li><a href="/guide/reference/api/admin-indices-update-settings.html">Update Settings</a></li>
            <li><a href="/guide/reference/api/admin-indices-templates.html">Templates</a></li>
            <li><a href="/guide/reference/api/admin-indices-status.html">Status</a></li>
            <li><a href="/guide/reference/api/admin-indices-segments.html">Segments</a></li>
            <li><a href="/guide/reference/api/admin-indices-clearcache.html">Clear Cache</a></li>
            <li><a href="/guide/reference/api/admin-indices-indices-exists.html">Indices Exists</a></li>
        </ul>

        <h3>Cluster</h3>
        <ul>
            <li><a href="/guide/reference/api/admin-cluster-health.html">Health</a></li>
            <li><a href="/guide/reference/api/admin-cluster-state.html">State</a></li>
            <li><a href="/guide/reference/api/admin-cluster-nodes-info.html">Nodes Info</a></li>
            <li><a href="/guide/reference/api/admin-cluster-nodes-stats.html">Nodes Stats</a></li>
            <li><a href="/guide/reference/api/admin-cluster-nodes-shutdown.html">Nodes Shutdown</a></li>
        </ul>
    {% endif %}

    {% if page.sidebar == 'reference_api_search' %}
        <h3><a href="/guide">Guide</a></h3>
        <h3><a href="/guide/reference/api">API</a></h3>
        <h3><a href="/guide/reference/api/search">Search</a></h3>
        <ul>
            <li><a href="/guide/reference/api/search/request-body.html">Request Body</a></li>
            <li><a href="/guide/reference/api/search/uri-request.html">URI Request</a></li>
            <li><a href="/guide/reference/api/search/query.html">Query</a></li>
            <li><a href="/guide/reference/api/search/filter.html">Filter</a></li>
            <li><a href="/guide/reference/api/search/from-size.html">From / Size</a></li>
            <li><a href="/guide/reference/api/search/indices-types.html">Indices / Types</a></li>
            <li><a href="/guide/reference/api/search/sort.html">Sort</a></li>
            <li><a href="/guide/reference/api/search/highlighting.html">Highlighting</a></li>
            <li><a href="/guide/reference/api/search/fields.html">Fields</a></li>
            <li><a href="/guide/reference/api/search/script-fields.html">Script Fields</a></li>
            <li><a href="/guide/reference/api/search/preference.html">Preference</a></li>
            <li><a href="/guide/reference/api/search/facets">Facets</a></li>
            <li><a href="/guide/reference/api/search/named-filters.html">Named Filters</a></li>
            <li><a href="/guide/reference/api/search/search-type.html">Search Type</a></li>
            <li><a href="/guide/reference/api/search/index-boost.html">Index Boost</a></li>
            <li><a href="/guide/reference/api/search/scroll.html">Scroll</a></li>
            <li><a href="/guide/reference/api/search/explain.html">Explain</a></li>
            <li><a href="/guide/reference/api/search/version.html">Version</a></li>
            <li><a href="/guide/reference/api/search/min-score.html">Min Score</a></li>
        </ul>
    {% endif %}

    {% if page.sidebar == 'reference_api_search_facets' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/api">API</a></h3>
    <h3><a href="/guide/reference/api/search">Search</a></h3>
    <h3><a href="/guide/reference/api/search/facets">Facets</a></h3>
    <ul>
        <li><a href="/guide/reference/api/search/facets/terms-facet.html">Terms</a></li>
        <li><a href="/guide/reference/api/search/facets/range-facet.html">Range</a></li>
        <li><a href="/guide/reference/api/search/facets/histogram-facet.html">Histogram</a></li>
        <li><a href="/guide/reference/api/search/facets/date-histogram-facet.html">Date Histogram</a></li>
        <li><a href="/guide/reference/api/search/facets/filter-facet.html">Filter</a></li>
        <li><a href="/guide/reference/api/search/facets/query-facet.html">Query</a></li>
        <li><a href="/guide/reference/api/search/facets/statistical-facet.html">Statistical</a></li>
        <li><a href="/guide/reference/api/search/facets/terms-stats-facet.html">Terms Stats</a></li>
        <li><a href="/guide/reference/api/search/facets/geo-distance-facet.html">Geo Distance</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_groovy_api' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/groovy-api">Groovy API</a></h3>
    <ul>
        <li><a href="/guide/reference/groovy-api/client.html">Client</a></li>
        <li><a href="/guide/reference/groovy-api/index_.html">Index</a></li>
        <li><a href="/guide/reference/groovy-api/get.html">Get</a></li>
        <li><a href="/guide/reference/groovy-api/delete.html">Delete</a></li>
        <li><a href="/guide/reference/groovy-api/search.html">Search</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_index_modules' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/index-modules">Index Modules</a></h3>

    <ul>
        <li><a href="/guide/reference/index-modules/analysis">Analysis</a></li>
        <li><a href="/guide/reference/index-modules/merge.html">Merge</a></li>
        <li><a href="/guide/reference/index-modules/store.html">Store</a></li>
        <li><a href="/guide/reference/index-modules/mapper.html">Mapper</a></li>
        <li><a href="/guide/reference/index-modules/translog.html">Translog</a></li>
        <li><a href="/guide/reference/index-modules/cache.html">Cache</a></li>
    </ul>
    {% endif %}


    {% if page.sidebar == 'reference_index_modules_analysis' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/index-modules">Index Modules</a></h3>
    <h3><a href="/guide/reference/index-modules/analysis">Analysis</a></h3>

    <h3>Analyzers</h3>
    <ul>
        <li><a href="/guide/reference/index-modules/analysis/standard-analyzer.html">Standard</a></li>
        <li><a href="/guide/reference/index-modules/analysis/simple-analyzer.html">Simple</a></li>
        <li><a href="/guide/reference/index-modules/analysis/whitespace-analyzer.html">Whitespace</a></li>
        <li><a href="/guide/reference/index-modules/analysis/stop-analyzer.html">Stop</a></li>
        <li><a href="/guide/reference/index-modules/analysis/keyword-analyzer.html">Keyword</a></li>
        <li><a href="/guide/reference/index-modules/analysis/pattern-analyzer.html">Pattern</a></li>
        <li><a href="/guide/reference/index-modules/analysis/lang-analyzer.html">Language</a></li>
        <li><a href="/guide/reference/index-modules/analysis/snowball-analyzer.html">Snowball</a></li>
        <li><a href="/guide/reference/index-modules/analysis/custom-analyzer.html">Custom</a></li>
    </ul>

    <h3>Tokenizers</h3>
    <ul>
        <li><a href="/guide/reference/index-modules/analysis/edgengram-tokenizer.html">Edge NGram</a></li>
        <li><a href="/guide/reference/index-modules/analysis/keyword-tokenizer.html">Keyword</a></li>
        <li><a href="/guide/reference/index-modules/analysis/letter-tokenizer.html">Letter</a></li>
        <li><a href="/guide/reference/index-modules/analysis/lowercase-tokenizer.html">Lowercase</a></li>
        <li><a href="/guide/reference/index-modules/analysis/ngram-tokenizer.html">NGram</a></li>
        <li><a href="/guide/reference/index-modules/analysis/standard-tokenizer.html">Standard</a></li>
        <li><a href="/guide/reference/index-modules/analysis/whitespace-tokenizer.html">Whitespace</a></li>
        <li><a href="/guide/reference/index-modules/analysis/pattern-tokenizer.html">Pattern</a></li>
        <li><a href="/guide/reference/index-modules/analysis/uaxurlemail-tokenizer.html">UAX URL Email</a></li>
        <li><a href="/guide/reference/index-modules/analysis/pathhierarchy-tokenizer.html">Path Hierarchy</a></li>
    </ul>

    <h3>Token Filter</h3>
    <ul>
        <li><a href="/guide/reference/index-modules/analysis/standard-tokenfilter.html">Standard</a></li>
        <li><a href="/guide/reference/index-modules/analysis/asciifolding-tokenfilter.html">ASCII Folding</a></li>
        <li><a href="/guide/reference/index-modules/analysis/length-tokenfilter.html">Length</a></li>
        <li><a href="/guide/reference/index-modules/analysis/lowercase-tokenfilter.html">Lowercase</a></li>
        <li><a href="/guide/reference/index-modules/analysis/ngram-tokenfilter.html">NGram</a></li>
        <li><a href="/guide/reference/index-modules/analysis/edgengram-tokenfilter.html">Edge NGram</a></li>
        <li><a href="/guide/reference/index-modules/analysis/porterstem-tokenfilter.html">Porter Stem</a></li>
        <li><a href="/guide/reference/index-modules/analysis/shingle-tokenfilter.html">Shingle</a></li>
        <li><a href="/guide/reference/index-modules/analysis/stop-tokenfilter.html">Stop</a></li>
        <li><a href="/guide/reference/index-modules/analysis/word-delimiter-tokenfilter.html">Word Delimiter</a></li>
        <li><a href="/guide/reference/index-modules/analysis/stemmer-tokenfilter.html">Stemmer</a></li>
        <li><a href="/guide/reference/index-modules/analysis/kstem-tokenfilter.html">KStem</a></li>
        <li><a href="/guide/reference/index-modules/analysis/snowball-tokenfilter.html">Snowball</a></li>
        <li><a href="/guide/reference/index-modules/analysis/phonetic-tokenfilter.html">Phonetic</a></li>
        <li><a href="/guide/reference/index-modules/analysis/synonym-tokenfilter.html">Synonym</a></li>
        <li><a href="/guide/reference/index-modules/analysis/compound-word-tokenfilter.html">Compound Word</a></li>
        <li><a href="/guide/reference/index-modules/analysis/reverse-tokenfilter.html">Reverse</a></li>
        <li><a href="/guide/reference/index-modules/analysis/elision-tokenfilter.html">Elision</a></li>
        <li><a href="/guide/reference/index-modules/analysis/truncate-tokenfilter.html">Truncate</a></li>
        <li><a href="/guide/reference/index-modules/analysis/unique-tokenfilter.html">Unique</a></li>
    </ul>

    <h3>Char Filter</h3>
    <ul>
        <li><a href="/guide/reference/index-modules/analysis/htmlstrip-charfilter.html">HTML Strip</a></li>
    </ul>

    <h3>Plugin</h3>
    <ul>
        <li><a href="/guide/reference/index-modules/analysis/icu-plugin.html">ICU</a></li>
    </ul>
    {% endif %}


    {% if page.sidebar == 'reference_java_api' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/java-api">Java API</a></h3>
    <ul>
        <li><a href="/guide/reference/java-api/client.html">Client</a></li>
        <li><a href="/guide/reference/java-api/query-dsl.html">Query DSL</a></li>
        <li><a href="/guide/reference/java-api/index_.html">Index</a></li>
        <li><a href="/guide/reference/java-api/get.html">Get</a></li>
        <li><a href="/guide/reference/java-api/delete.html">Delete</a></li>
        <li><a href="/guide/reference/java-api/bulk.html">Bulk</a></li>
        <li><a href="/guide/reference/java-api/search.html">Search</a></li>
        <li><a href="/guide/reference/java-api/percolate.html">Percolate</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_mapping' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/mapping">Mapping</a></h3>

    <h3>Fields</h3>
    <ul>
        <li><a href="/guide/reference/mapping/uid-field.html">_uid</a></li>
        <li><a href="/guide/reference/mapping/id-field.html">_id</a></li>
        <li><a href="/guide/reference/mapping/type-field.html">_type</a></li>
        <li><a href="/guide/reference/mapping/source-field.html">_source</a></li>
        <li><a href="/guide/reference/mapping/all-field.html">_all</a></li>
        <li><a href="/guide/reference/mapping/analyzer-field.html">_analyzer</a></li>
        <li><a href="/guide/reference/mapping/boost-field.html">_boost</a></li>
        <li><a href="/guide/reference/mapping/parent-field.html">_parent</a></li>
        <li><a href="/guide/reference/mapping/routing-field.html">_routing</a></li>
        <li><a href="/guide/reference/mapping/index-field.html">_index</a></li>
        <li><a href="/guide/reference/mapping/size-field.html">_size</a></li>
    </ul>

    <h3>Types</h3>
    <ul>
        <li><a href="/guide/reference/mapping/core-types.html">core</a></li>
        <li><a href="/guide/reference/mapping/array-type.html">array</a></li>
        <li><a href="/guide/reference/mapping/object-type.html">object</a></li>
        <li><a href="/guide/reference/mapping/root-object-type.html">root object</a></li>
        <li><a href="/guide/reference/mapping/nested-type.html">nested</a></li>
        <li><a href="/guide/reference/mapping/multi-field-type.html">multi_field</a></li>
        <li><a href="/guide/reference/mapping/ip-type.html">ip</a></li>
        <li><a href="/guide/reference/mapping/geo-point-type.html">geo_point</a></li>
        <li><a href="/guide/reference/mapping/attachment-type.html">attachment</a></li>
    </ul>

    <h3>Misc</h3>
    <ul>
        <li><a href="/guide/reference/mapping/meta.html">Meta</a></li>
        <li><a href="/guide/reference/mapping/conf-mappings.html">Node Config</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_modules' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/modules">Modules</a></h3>
    <ul>
        <li><a href="/guide/reference/modules/discovery">Discovery</a></li>
        <li><a href="/guide/reference/modules/gateway">Gateway</a></li>
        <li><a href="/guide/reference/modules/http.html">HTTP</a></li>
        <li><a href="/guide/reference/modules/transport.html">Transport</a></li>
        <li><a href="/guide/reference/modules/network.html">Network</a></li>
        <li><a href="/guide/reference/modules/indices.html">Indices</a></li>
        <li><a href="/guide/reference/modules/cluster.html">Cluster</a></li>
        <li><a href="/guide/reference/modules/scripting.html">Scripting</a></li>
        <li><a href="/guide/reference/modules/threadpool.html">Thread Pool</a></li>
        <li><a href="/guide/reference/modules/node.html">Node</a></li>
        <li><a href="/guide/reference/modules/plugins.html">Plugins</a></li>
        <li><a href="/guide/reference/modules/jmx.html">JMX</a></li>
        <li><a href="/guide/reference/modules/memcached.html">memcached</a></li>
        <li><a href="/guide/reference/modules/thrift.html">Thrift</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_modules_discovery' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/modules">Modules</a></h3>
    <h3><a href="/guide/reference/modules/discovery">Discovery</a></h3>
    <ul>
        <li><a href="/guide/reference/modules/discovery/zen.html">Zen</a></li>
        <li><a href="/guide/reference/modules/discovery/ec2.html">EC2</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_modules_gateway' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/modules">Modules</a></h3>
    <h3><a href="/guide/reference/modules/gateway">Gateway</a></h3>
    <ul>
        <li><a href="/guide/reference/modules/gateway/local.html">Local</a></li>
        <li><a href="/guide/reference/modules/gateway/fs.html">Shared FS</a></li>
        <li><a href="/guide/reference/modules/gateway/hadoop.html">Hadoop</a></li>
        <li><a href="/guide/reference/modules/gateway/s3.html">S3</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_query_dsl' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/query-dsl">Query DSL</a></h3>

    <h3>Queries</h3>
    <ul>
        <li><a href="/guide/reference/query-dsl/text-query.html">text</a></li>
        <li><a href="/guide/reference/query-dsl/bool-query.html">bool</a></li>
        <li><a href="/guide/reference/query-dsl/boosting-query.html">boosting</a></li>
        <li><a href="/guide/reference/query-dsl/ids-query.html">ids</a></li>
        <li><a href="/guide/reference/query-dsl/custom-score-query.html">custom_score</a></li>
        <li><a href="/guide/reference/query-dsl/constant-score-query.html">constant_score</a></li>
        <li><a href="/guide/reference/query-dsl/dis-max-query.html">dis_max</a></li>
        <li><a href="/guide/reference/query-dsl/field-query.html">field</a></li>
        <li><a href="/guide/reference/query-dsl/filtered-query.html">filtered</a></li>
        <li><a href="/guide/reference/query-dsl/flt-query.html">flt</a></li>
        <li><a href="/guide/reference/query-dsl/flt-field-query.html">flt_field</a></li>
        <li><a href="/guide/reference/query-dsl/fuzzy-query.html">fuzzy</a></li>
        <li><a href="/guide/reference/query-dsl/has-child-query.html">has_child</a></li>
        <li><a href="/guide/reference/query-dsl/match-all-query.html">match_all</a></li>
        <li><a href="/guide/reference/query-dsl/mlt-query.html">mlt</a></li>
        <li><a href="/guide/reference/query-dsl/mlt-field-query.html">mlt_field</a></li>
        <li><a href="/guide/reference/query-dsl/prefix-query.html">prefix</a></li>
        <li><a href="/guide/reference/query-dsl/query-string-query.html">query_string</a></li>
        <li><a href="/guide/reference/query-dsl/range-query.html">range</a></li>
        <li><a href="/guide/reference/query-dsl/span-first-query.html">span_first</a></li>
        <li><a href="/guide/reference/query-dsl/span-near-query.html">span_near</a></li>
        <li><a href="/guide/reference/query-dsl/span-not-query.html">span_not</a></li>
        <li><a href="/guide/reference/query-dsl/span-or-query.html">span_or</a></li>
        <li><a href="/guide/reference/query-dsl/span-term-query.html">span_term</a></li>
        <li><a href="/guide/reference/query-dsl/term-query.html">term</a></li>
        <li><a href="/guide/reference/query-dsl/terms-query.html">terms</a></li>
        <li><a href="/guide/reference/query-dsl/top-children-query.html">top_children</a></li>
        <li><a href="/guide/reference/query-dsl/wildcard-query.html">wildcard</a></li>
        <li><a href="/guide/reference/query-dsl/nested-query.html">nested</a></li>
        <li><a href="/guide/reference/query-dsl/custom-filters-score-query.html">custom_filters_score</a></li>
    </ul>

    <h3>Filters</h3>
    <ul>
        <li><a href="/guide/reference/query-dsl/and-filter.html">and</a></li>
        <li><a href="/guide/reference/query-dsl/bool-filter.html">bool</a></li>
        <li><a href="/guide/reference/query-dsl/exists-filter.html">exists</a></li>
        <li><a href="/guide/reference/query-dsl/ids-filter.html">ids</a></li>
        <li><a href="/guide/reference/query-dsl/limit-filter.html">limit</a></li>
        <li><a href="/guide/reference/query-dsl/type-filter.html">type</a></li>
        <li><a href="/guide/reference/query-dsl/geo-bounding-box-filter.html">geo_bbox</a></li>
        <li><a href="/guide/reference/query-dsl/geo-distance-filter.html">geo_distance</a></li>
        <li><a href="/guide/reference/query-dsl/geo-distance-range-filter.html">geo_distance_range</a></li>
        <li><a href="/guide/reference/query-dsl/geo-polygon-filter.html">geo_polygon</a></li>
        <li><a href="/guide/reference/query-dsl/has-child-filter.html">has_child</a></li>
        <li><a href="/guide/reference/query-dsl/match-all-filter.html">match_all</a></li>
        <li><a href="/guide/reference/query-dsl/missing-filter.html">missing</a></li>
        <li><a href="/guide/reference/query-dsl/not-filter.html">not</a></li>
        <li><a href="/guide/reference/query-dsl/numeric-range-filter.html">numeric_range</a></li>
        <li><a href="/guide/reference/query-dsl/or-filter.html">or</a></li>
        <li><a href="/guide/reference/query-dsl/prefix-filter.html">prefix</a></li>
        <li><a href="/guide/reference/query-dsl/query-filter.html">query</a></li>
        <li><a href="/guide/reference/query-dsl/range-filter.html">range</a></li>
        <li><a href="/guide/reference/query-dsl/script-filter.html">script</a></li>
        <li><a href="/guide/reference/query-dsl/term-filter.html">term</a></li>
        <li><a href="/guide/reference/query-dsl/terms-filter.html">terms</a></li>
        <li><a href="/guide/reference/query-dsl/nested-filter.html">nested</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_river' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/river">River</a></h3>
    <ul>
        <li><a href="/guide/reference/river/couchdb.html">CouchDB</a></li>
        <li><a href="/guide/reference/river/rabbitmq.html">RabbitMQ</a></li>
        <li><a href="/guide/reference/river/twitter.html">Twitter</a></li>
        <li><a href="/guide/reference/river/wikipedia.html">Wikipedia</a></li>
    </ul>
    {% endif %}

    {% if page.sidebar == 'reference_setup' %}
    <h3><a href="/guide">Guide</a></h3>
    <h3><a href="/guide/reference/setup">Setup</a></h3>
    <ul>
        <li><a href="/guide/reference/setup/installation.html">Installation</a></li>
        <li><a href="/guide/reference/setup/configuration.html">Configuration</a></li>
        <li><a href="/guide/reference/setup/dir-layout.html">Directory Layout</a></li>
    </ul>
    {% endif %}

</div>
<div class="guide_content">
    {{ content }}
</div>
